.container {
  padding-top: 2%;
}

.chat-body{
  overflow-y:scroll;
  height:455px;
  padding:0px;
}

.list-body{
  overflow-y:scroll;
  height:350px;
  padding: 2%;
}

.msg-list-body{
  margin:8px;
}

.list-table{
  margin-top: -1px;
  margin-bottom: 0px;
}

.msg-content {
  padding-left: 3%;
}

.msg-time {
  opacity: 0.5;
}

.system-msg .msg-name {
  opacity: 0.7;
}
